body{
    background:  rgba(70, 142, 236);
    line-height: 1.0;
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: white;
    margin-top: 60px;
}

section{
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(48, 45, 45, 0.473);       
}
div {
    text-align: center;
    line-height: 3.0;    
}
#botao{
    width: 85px;
    height: 35px;
    border: 2px solid;
    border-radius: 5px;
    font-size: large;
    letter-spacing: 0.5px;
}
#botao:hover{
    background: rgba(48, 45, 45, 0.473);
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid rgba(48, 45, 45, 0.473); 
    font-size:large;
    letter-spacing: 0.5px;
}
#mesangem_orientacao{
    font-size: large;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: medium;
    color: white;
}